.header__lang-link {
  display: block;
  max-width: 29px;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.17;
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .header__lang-link {
    max-width: calc(22px + (29 - 22) * (100vw - 320px) / (768 - 320));
    font-size: calc(18px + (24 - 18) * (100vw - 320px) / (768 - 320));
  }
}
