.place__title {
  max-width: 460px;
  width: 100%;
  margin: 0;
  font-size: 72px;
  font-weight: 900;
  line-height: 1.1;
}

@media screen and (max-width: 1024px) {
  .place__title {
    font-size: calc(44px + (72 - 44) * (100vw - 768px) / (1024 - 768));
  }
}

@media screen and (max-width: 768px) {
  .place__title {
    max-width: calc(288px + (340 - 288) * (100vw - 320px) / (768 - 320));
    font-size: calc(32px + (44 - 32) * (100vw - 320px) / (768 - 320));
  }
}
