.photo-grid {
  max-width: 1184px;
  padding: 92px 0 0;
  box-sizing: border-box;
  display: grid;
  grid-template: auto / repeat(auto-fit, minmax(284px, 1fr));
  grid-gap: 16px;
}

@media screen and (max-width: 1280px) {
  .photo-grid {
    max-width: calc(100% - 48px * 2);
    min-width: 928px;
  }
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    max-width: calc(100% - 48px * 2);
    min-width: 720px;
    padding-top: calc(76px + (92 - 76) * (100vw - 768px) / (1024 - 768));
    grid-gap: 14px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    max-width: calc(100% - 24px * 2);
    min-width: 288px;
    padding-top: calc(64px + (76 - 64) * (100vw - 320px) / (768 - 320));
    grid-gap: 16px;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    max-width: calc(100% - 16px * 2);
    min-width: 0;
    grid-gap: 12px;
  }
}
