.lead {
  width: 984px;
  padding: 56px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1280px) {
  .lead {
    padding-top: calc(53px + (56 - 53) * (100vw - 1024px) / (1280 - 1024));
  }
}

@media screen and (max-width: 1024px) {
  .lead {
    width: calc(100% - 48px * 2);
    padding-top: calc(50px + (53 - 50) * (100vw - 768px) / (1024 - 768));
  }
}

@media screen and (max-width: 768px) {
  .lead {
    width: 100%;
    padding-top: calc(48px + (50 - 48) * (100vw - 320px) / (768 - 320));
  }
}

@media screen and (max-width: 320px) {
  .lead {
    padding-top: 48px;
  }
}
