.place__text {
  max-width: 484px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

@media screen and (max-width: 700px) {
  .place__text {
    max-width: 100%;
  }
}

@media screen and (max-width: 345px) {
  .place__text {
    max-width: calc(288px + (352 - 288) * (100vw - 320px) / (768 - 320));
  }
}
