.lead__title {
  max-width: 720px;
  margin: 0 0 32px;
  font-size: 96px;
  font-weight: 900;
  line-height: 1.04;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .lead__title {
    width: calc(288px + 432 * (100vw - 321px) / (768 - 321));
    font-size: calc(40px + 56 * (100vw - 321px) / (768 - 321));
    margin-bottom: calc(16px + 16 * (100vw - 321px) / (768 - 321));
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    width: calc(288 / 320 * 100%);
    font-size: calc(40 / 320 * 100vw);
    margin-bottom: calc(16 / 320 * 100vw);
    line-height: 1.1;
  }
}
